{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}
<html>
<head>
<meta charset="UTF-8">
<title>crowd detection app</title>
</head>
<body>
<div align="center">
    <form enctype="multipart/form-data" method="POST" action=""
          style="width: 100px;height: 100px;position: absolute;left: 50%;margin-left: -50px;">
        <br><br>
    {% csrf_token %}
        {{ form.videofile }} {{ form.name }}
        <br><br>
    <input type="submit" value="Upload"/>
    </form>
<br><br><br><br><br><br><br><br>
<video width='400' controls>
<source src='{{ MEDIA_URL }}{{ videofile }}' type='video/mp4'>
Your browser does not support the video tag.
</video>
<br><br>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>
<button class="btn btn-primary" onclick="location.href='http://127.0.0.1:8070/person_tracking'">{% trans 'Process Video' %}</button>
<br><br><br>
<button class="btn btn-primary" onclick="location.href='http://127.0.0.1:8070/'">{% trans 'show result' %}</button>
</div>
</body>

{% endblock %}